@charset "UTF-8";
@import "reset";
@import "common";

/* ---------------
	#header
--------------- */
.header {
	margin: 0 auto;
	padding: 20px;
	&_logo {
	float: left;
	width: 250px;
	font-size: 18px;
	}
	& a {
		color: #000;
	}
	& .trg {
		display: none;
	}
}


.globalnav {
	float: right;
	width: 800px;
	text-align: right;
}
.menu {
	&_item {
		position: relative;
		display: inline-block;
		font-size: 16px;
		text-align: center;
		vertical-align: top;
	}
	&_link {
		display: block;
		padding: 0 10px;
		font-weight: bold;
	}
}
.innermenu {
	display: none;
	position: absolute;
	left: 10px;
	top: 25px;
	height: 100%;
	text-align: left;
	&_item {
		display: block;
		width: 200px;
	}
	&_link {
		display: block;
		font-weight: bold;
	}
}
