@charset "UTF-8";

@import "reset";
@import "common";

// borderの色
$borderColor: #ccc;

/* tabBlock */
.tabs {
	display: table;
	width: 100%;
	border-width: 2px 0 0 0;
	border-style: solid;
	border-color: $borderColor;
	&__tab {
		display: table-cell;
		width: 25%;
		text-align: center;
		&:first-child {
			border-width: 0 0 0 1px;
			border-style: solid;
			border-color: $borderColor;
		}
	}
	& .is-selected .tabs__link {
		background-color: #fff;
	}
	&__link {
		display: block;
		padding: 20px 0;
		font-size: 16px;
		border-width: 0 1px 0 0;
		border-style: solid;
		border-color: $borderColor;
		background-color: #ddd;
		&:hover {
			text-decoration: none;
			background-color: #eee;
			transition: 0.2s all linear;
		}
	}
}

.tabContents {
	padding: 40px;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: $borderColor;
	&.is-hidden {
		display: none; /* js */
	}
}
