$basefont: 10;  // 基本フォントサイズの設定
$px: ();        // 単位用変数
$integer: ();   // 数値用変数

// pxをremにする関数
@function rem($size) {
  $px: unit($size);                             // 単位を取り出す => px
  @if $px == px {                               // 単位が px の場合
    $integer: $size / ($size * 0 + 1);          // 数値に変換（パクリ）
    @return $integer/$basefont + rem;           // 単位remをつける
  }
}

@mixin rem($size) {
  font-size: rem($size);
  font-size: $size;
}

.block {
  @include rem(16px);
}
.block2 {
  @include rem(10px);
}