@mixin iconBase ($icon-img) {
  display: inline-block;
  background: url("img/#{$icon-img}") top left no-repeat;
}

.icon-a {
  width: 10px;
  height: 22px;
  @include iconBase("icon-a.png");
}
.icon-b {
  width: 12px;
  height: 16px;
  @include iconBase("icon-b.jpg");
}
.icon-c {
  width: 22px;
  height: 24px;
  @include iconBase("icon-c.gif");
}