.tabs {
  text-align: center;
  border-bottom: 1px solid #aaa;
  &__tab {
    display: inline-block;
    margin-bottom: -1px;
    padding: 5px 10px;
    border: 1px solid #aaa;
    border-radius: 4px 4px 0 0;
    color: #eee;
    background-color: #aaa;
    &.is-active {
      color: #000;
      background-color: #fff;
      border-bottom-color: #fff;
    }
  }
  &__text {
    font-size: 14px; 
  }
}
